.project-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 0.75em;
  background-image: linear-gradient(
    22.5deg,
    rgba(var(--gradient-color-left-rgb), 1),
    rgba(var(--gradient-color-right-rgb), 1) 150%
  );
  border-radius: 1em;
}

.project-card:not(:first-child) {
  margin-top: 0.5em;
}

.project-card > img {
  width: 2em;
}

.project-card > span {
  padding: 0 0.5em;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: ghostwhite;
}

.project-card > .drag-indicator {
  margin: 0 -0.5em 0 1em;
  cursor: grab;
}

.project-card > .project-link {
  width: 2em;
  padding: 0.3em;
  margin: 0 0 0 auto;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0.65em;
  backdrop-filter: blur(1em);
  transition: 0.1s;
}

.project-card > .project-link:hover {
  box-shadow: 0 0.1em 0 rgba(0, 0, 0, 0.2);
  translate: 0 -0.1em;
}

.project-card > .project-link:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  translate: 0 0;
}

@media (min-aspect-ratio: 1/1) {
  .project-card {
    cursor: grab;
  }
}

@media (max-aspect-ratio: 1/1) {
  .project-card {
    pointer-events: none;
  }

  .project-card > .project-link {
    pointer-events: all;
  }
}
