.card-wrapper {
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--gradient);
  border-radius: 0.25em 0.25em 1em 1em;
  overflow: visible;
}

.card-wrapper > .card {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0.25em;
  z-index: -1;
  background-color: ghostwhite;
  border-radius: 1em;
}
