.intro {
  --logo-size: 10em;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 25vh;
  margin-top: 4rem;
  margin-bottom: 10rem;
  font-size: min(2vw, 1.5rem);
  overflow: hidden;
}

.intro > .wrapper {
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo > .logo-top {
  height: var(--logo-size);
  width: auto;
}

.logo > .logo-bottom {
  height: var(--logo-size);
  width: auto;
  margin-top: calc(var(--logo-size) * -1)
}

.intro > .wrapper > .text {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.intro > .wrapper > .text > .name-hint {
  margin-top: -1.5em;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-family: "Poppins", sans-serif;
  color: ghostwhite;
}

.intro > .wrapper > .text > .name {
  font-size: 3em;
  font-family: "Playfair", sans-serif;
  color: ghostwhite;
}

.intro > .wrapper > .text > p {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  color: ghostwhite;
}

.intro > .wrapper > .text > p > span {
  font-weight: bold;
  color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    45deg,
    var(--gradient-color-left) 0%,
    var(--gradient-color-right) 200%
  );
  background-clip: text;
}
