.intro {
  --logo-size: 10em;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100svh;
  font-size: min(3vw, 1.5rem);
  overflow: visible;
}

.intro > .wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.logo {
  display: flex;
  flex-direction: column;
  margin-left: -2em;
  z-index: -1;
}

.logo > .logo-top {
  height: var(--logo-size);
  width: auto;
  filter: drop-shadow(0 0 1em rgba(var(--gradient-color-right-rgb), 0.25));
}

.logo > .logo-bottom {
  height: var(--logo-size);
  width: auto;
  margin-top: calc(var(--logo-size) * -1);
  filter: drop-shadow(0 0 1em rgba(var(--gradient-color-right-rgb), 0.25));
}

.intro > .wrapper > .text {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.intro > .wrapper > .text > .name {
  font-size: 3em;
  font-family: "Playfair", sans-serif;
  background-image: linear-gradient(45deg, var(--gradient-color-left) 0%, var(--gradient-color-right) 100%);
  background-clip: text;
  color: transparent;
}

.intro > .wrapper > .text > .name-hint {
  margin-top: -1.5em;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-family: "Poppins", sans-serif;
  color: ghostwhite;
}

.intro > .wrapper > .text > p {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  color: ghostwhite;
}

.intro > .wrapper > .text > p > span {
  font-weight: bold;
  color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    45deg,
    var(--gradient-color-left) 0%,
    var(--gradient-color-right) 200%
  );
  background-clip: text;
}

.intro > .scroll-hint {
  margin-bottom: 2em;
}
