:root {
  --card-container-height: 80vh;
  --card-width: min(15em, 50vw);
  --card-y-margin: 10em;
  --card-side-offset: min(40vw, 10em);
  --card-radius: 1.5em;
  --card-left-radius: var(--card-radius) var(--card-radius) var(--card-radius) 0.25em;
  --card-right-radius: var(--card-radius) var(--card-radius) 0.25em;
}

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400vh;
  margin: 0 1em 0 1em;
}

.card-backdrop {
  position: sticky;
  top: 10vh;
  bottom: 20vh;
  width: calc(var(--card-width) + var(--card-side-offset));
  height: var(--card-container-height);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1b40;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 0.1);
  border-radius: 1.5rem;
}

.card-container {
  height: fit-content;
  padding-bottom: 20em;
}

.input-panel {
  position: absolute;
  bottom: 0;
  height: 5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #28254a;
}

.input-panel > .input-field {
  width: 70%;
  height: 60%;
  margin: 0 0 0 1.5em;
  background-color: #181530;
  border-radius: 2em;
}

.input-panel > .input-submit {
  width: 3em;
  height: 60%;
  margin: 0 1em 0 1.5em;
  background-color: #181530;
  border-radius: 2em;
}

.desc-card:nth-child(1) {
  margin-top: -20vh;
  margin-left: 1em;
  margin-right: var(--card-side-offset);
  border-radius: var(--card-left-radius);
}

.desc-card:nth-child(2) {
  margin-left: var(--card-side-offset);
  margin-right: 1em;
  border-radius: var(--card-right-radius);
}

.desc-card:nth-child(3) {
  margin-left: 1em;
  margin-right: var(--card-side-offset);
  border-radius: var(--card-left-radius);
}

.desc-card:nth-child(4) {
  margin-left: var(--card-side-offset);
  margin-right: 1em;
  border-radius: var(--card-right-radius);
}
