.debug-card {
  color: ghostwhite;
  max-width: 15rem;
  padding: 1em;
  margin: 100rem 0 0 2rem;
  background:
      linear-gradient(45deg, #ff94db 0%, #d49cff 100%),
      linear-gradient(rgb(255 255 255 / 100%) 0%, rgb(255 255 255 / 100%) 100%);
  border-radius: 1em;
}
