.desc-card {
  color: ghostwhite;
  font-size: 0.95em;
  font-family: "Roboto", sans-serif;
  padding: 1em;
  width: fit-content;
  max-width: var(--card-width);
  background:
      linear-gradient(rgb(24 14 38 / 10%) 0%, rgb(24 14 38 / 10%) 100%) padding-box,
      linear-gradient(45deg, #ff94db 0%, #d49cff 100%);
  box-shadow: 0 0.25em 0.5em rgb(0 0 0 / 0.25);
  border-radius: var(--card-radius);
}

.desc-card:not(:first-child) {
  margin-top: var(--card-y-margin);
}
