#title-bar {
  position: fixed;
  z-index: 100;
  width: 100%;
  overflow: hidden;
  backdrop-filter: blur(4px);
}

#title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 0 0 0.35em 0.35em;
  background-color: rgb(200 160 255 / 0.05);
  border-bottom: solid 1px rgb(0 0 0 / 0.15);
}

#title-name {
  display: flex;
  flex-direction: row;
  font-family: 'Playfair', serif;
  font-size: 2rem;
  color: ghostwhite;
  cursor: default;
}

#title-name > img {
  width: 0.75em;
  margin: auto 0.25em auto 0.25em;
}

#title-progress {
  background-image: linear-gradient(45deg, #4000ff 0%, #8000ff 100%);
  background-size: 100vw;
  color: #ff0033;
  height: 1px;
}
