.scroll-hint {
  --scroll-hint-bounce: 0.25rem;

  align-self: center;
  margin-top: 2em;
  width: 2.5rem;
  cursor: default;
  user-select: none;
  animation: ease-in-out 1s scroll-bounce infinite;
}

@keyframes scroll-bounce {
  0% {
    translate: 0 var(--scroll-hint-bounce);
  }
  50% {
    translate: 0 calc(var(--scroll-hint-bounce) * -1);
  }
  100% {
    translate: 0 var(--scroll-hint-bounce);
  }
}
